@import url(//db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  min-height: 100vh;
  background: #000;
}

main {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-timer {
  font-size: 6rem;
  font-family: clockicons, sans-serif;
  color: #FF9500!important;
  margin: 20px 0;
}


.container-btn {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.btn {
  width: 150px;
  display: block;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.init {
  background: #0DEADD;
  opacity: 1;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  visibility: visible;
  position: relative;
}

.init.active {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.reset {
  background: #FF530D;
}

.stop {
  background: #DDEB02;
  opacity: 0;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  visibility: hidden;
  position: absolute;
}

.stop.active {
  opacity: 1;
  display: block;
  visibility: visible;
  position: relative;
}

.btn:active {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
}

@media (max-width: 549px) {
  .container-timer {
    font-size: 3rem;
  }

  .btn {
    width: 130px;
    padding: .8rem 1.8rem;
    font-size: 1.2rem;
  }
}